

* {
  box-sizing: border-box;
}

.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content ;
    margin: 0;
}
  
.auth-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
                0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow:visible;
    width: 760px;
    max-width: 100%;
    min-height: 500px;
    max-height:fit-content;
    
}
  
.auth-form-container {
  top: 0;
  height: fit-content;
  position: relative;
  transition: all 0.6s ease-in-out;
}

.auth-sign-in-container {
  height: fit-content;
  left: 0;
  width: 50%;
  z-index: 2;
}

.auth-container.right-panel-active .auth-sign-in-container {
  transform: translateX(100%);
}

.auth-sign-up-container {
  left: 0;
  height: fit-content;
  width: 50%;
  position: relative;
  opacity: 0;
  z-index: 1;
}

.auth-container.right-panel-active .auth-sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.auth-overlay-container {
  top: 0;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.auth-container.right-panel-active .auth-overlay-container {
  transform: translateX(-100%);
}

.auth-overlay {
  background: #FF6F20;  
  color: #FFFFFF;
  position: relative;
  left: -100%;
  border-radius: 10px;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-container.right-panel-active .auth-overlay {
  transform: translateX(50%);
}

.auth-overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.auth-overlay-panel h1{
  font-weight: 300;
  letter-spacing: 0.7px;
}
.auth-overlay-panel p{
  font-weight: 300;
  letter-spacing: 0.7px;
}

.auth-overlay-left {
  transform: translateX(-20%);
}

.auth-container.right-panel-active .auth-overlay-left {
  transform: translateX(0);
}

.auth-overlay-right {
  right: 0;
  transform: translateX(0);
}

.auth-container.right-panel-active .auth-overlay-right {
  transform: translateX(20%);
}

.auth-button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.auth-button:hover {
  transform: scale(0.97);
}
.auth-button:active {
  transform: scale(0.94);
}

.auth-button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.input-orange {
    background-color: #ffe5b4; /* สีส้มอ่อน */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
  
.input-orange:focus {
    background-color: #ffe5b4;
    border: 1px solid #ff8833;
    outline: none;
}
.header-login{
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-login h2{
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
.container-login{
  border-radius: 8px;
}
.container-login h3{
  font-weight: 300;
  letter-spacing: 0.7px;
}
.container-login input{
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
.container-login button{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding: 8px;
}
.container-login span{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.7px;
}

